<?php
 return PhpCsFixer\Config::create()
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->files()
            ->in(__DIR__ . '/src')
            ->in(__DIR__ . '/test')
    )
    ->setRules([
        '@PSR2' => true,
    ]);
